.screen {
  background-color: #1b1c1e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .overlap-wrapper {
  background-color: #1b1c1e;
  overflow: hidden;
  width: 375px;
  height: 812px;
}

.screen .overlap {
  position: relative;
  height: 827px;
}

.screen .view {
  position: absolute;
  width: 375px;
  height: 202px;
  top: 291px;
  left: 0;
}

.screen .overlap-group {
  position: relative;
  height: 202px;
}

.screen .element {
  position: absolute;
  width: 375px;
  height: 200px;
  top: 2px;
  left: 0;
}

.screen .group {
  position: absolute;
  width: 214px;
  height: 159px;
  top: 0;
  left: 110px;
}

.screen .div {
  position: relative;
  height: 159px;
}

.screen .vector {
  width: 214px;
  height: 148px;
  position: absolute;
  top: 0;
  left: 0;
}

.screen .ellipse {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 133px;
  left: 182px;
  background-color: #ffc8ba;
  border-radius: 13px;
}

.screen .ellipse-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 136px;
  left: 184px;
  background-color: #ff9072;
  border-radius: 10px;
}

.screen .ellipse-3 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 139px;
  left: 188px;
  background-color: #ff5f34;
  border-radius: 7px;
}

.screen .ellipse-4 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 143px;
  left: 192px;
  background-color: #ffffff;
  border-radius: 3px;
}

.screen .BG {
  position: absolute;
  width: 375px;
  height: 350px;
  top: 462px;
  left: 0;
}

.screen .element-2 {
  position: absolute;
  width: 335px;
  height: 81px;
  top: 643px;
  left: 20px;
  background-color: #373e46;
  border-radius: 8px;
}

.screen .view-2 {
  position: absolute;
  width: 61px;
  height: 57px;
  top: 12px;
  left: 12px;
  background-color: #d9d9d9;
  border-radius: 8px;
}

.screen .div-wrapper {
  position: absolute;
  width: 44px;
  height: 11px;
  top: 20px;
  left: 96px;
}

.screen .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .view-3 {
  position: absolute;
  width: 85px;
  height: 15px;
  top: 45px;
  left: 96px;
}

.screen .img {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
}

.screen .text-wrapper-2 {
  top: 2px;
  left: 23px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.3px;
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
}

.screen .view-4 {
  position: absolute;
  width: 89px;
  height: 16px;
  top: 44px;
  left: 196px;
}

.screen .vector-2 {
  width: 10px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.screen .text-wrapper-3 {
  position: absolute;
  top: 3px;
  left: 19px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: -0.3px;
  line-height: 24px;
  white-space: nowrap;
}

.screen .element-3 {
  position: absolute;
  width: 335px;
  height: 81px;
  top: 746px;
  left: 20px;
  background-color: #373e46;
  border-radius: 8px;
}

.screen .element-4 {
  position: absolute;
  width: 335px;
  height: 81px;
  top: 540px;
  left: 20px;
  background-color: #373e46;
  border-radius: 8px;
}

.screen .image {
  position: absolute;
  width: 61px;
  height: 57px;
  top: 12px;
  left: 12px;
  object-fit: cover;
}

.screen .view-5 {
  position: absolute;
  width: 117px;
  height: 11px;
  top: 20px;
  left: 96px;
}

.screen .text-wrapper-4 {
  top: 0;
  left: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
}

.screen .view-6 {
  position: absolute;
  width: 84px;
  height: 15px;
  top: 45px;
  left: 96px;
}

.screen .text-wrapper-5 {
  top: 2px;
  left: 24px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.3px;
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
}

.screen .BG-2 {
  position: absolute;
  width: 375px;
  height: 323px;
  top: 0;
  left: 0;
}

.screen .view-7 {
  position: absolute;
  width: 165px;
  height: 47px;
  top: 214px;
  left: 107px;
}

.screen .text-wrapper-6 {
  top: 34px;
  left: 0;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #e6e6e6;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.36px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
}

.screen .text-wrapper-7 {
  top: 0;
  left: 50px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ff5f34;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
}

.screen .image-wrapper {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 95px;
  left: 140px;
  background-color: #272930;
  border-radius: 47.5px;
  border: 0.5px solid;
  border-color: #6f6f6f4c;
  box-shadow: 0px 0px 18px #00000026;
}

.screen .image-2 {
  position: absolute;
  width: 68px;
  height: 55px;
  top: 20px;
  left: 13px;
}

.screen .image-3 {
  position: absolute;
  width: 13px;
  height: 22px;
  top: 71px;
  left: 27px;
}

.screen .absolute-wrapper {
  position: absolute;
  width: 375px;
  height: 44px;
  top: 0;
  left: 0;
}

.screen .absolute {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: flex-start;
  position: relative;
}

.screen .status-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .content {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 44px;
}

.screen .status-bar-time {
  display: flex;
  width: 93px;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 13px 30.5px;
  position: absolute;
  top: 0;
  left: 0;
}

.screen .value {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "SF SD Text-Semibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.24px;
  line-height: normal;
  white-space: nowrap;
}

.screen .status-bar-status {
  display: flex;
  width: 95px;
  height: 44px;
  align-items: center;
  justify-content: center;
  padding: 14px;
  position: absolute;
  top: 0;
  left: 280px;
}

.screen .content-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  padding: 3px 0px 1px;
  position: relative;
  flex: 0 0 auto;
}

.screen .celluar {
  position: relative;
  width: 18px;
  height: 12px;
}

.screen .cellular-connection {
  position: absolute;
  width: 17px;
  height: 11px;
  top: 1px;
  left: 0;
}

.screen .wi-fi {
  position: relative;
  width: 16px;
  height: 12px;
}

.screen .wi-fi-2 {
  position: absolute;
  width: 15px;
  height: 11px;
  top: 0;
  left: 0;
}

.screen .battery {
  position: relative;
  width: 25px;
  height: 12px;
}

.screen .battery-2 {
  position: relative;
  width: 24px;
  height: 11px;
}

.screen .cap {
  position: absolute;
  width: 1px;
  height: 4px;
  top: 4px;
  left: 23px;
}

.screen .capacity-wrapper {
  position: absolute;
  width: 22px;
  height: 11px;
  top: 0;
  left: 0;
  border-radius: 3px;
  border: 1px solid;
  border-color: #ffffff66;
}

.screen .capacity {
  position: relative;
  width: 18px;
  height: 7px;
  top: 1px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 1.33px;
}