<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/CheckOrder.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="image" src="/src/main/resources/static/image/지도.png" />
          <div class="BG">
            <div class="overlap-group">
              <img class="line" src="/bin/main/static/image/Line 1.png" />
              <div class="div">
                <div class="ellipse"></div>
                <div class="ellipse-2"></div>
                <div class="ellipse-3"></div>
              </div>
            </div>
          </div>
          <div class="view">
            <div class="view-2">
              <div class="group">
                <label class="text-wrapper">지금</label>
                <label class="text-wrapper-2">석촌호수 방향으로 계속 직진하세요.</label>
                <img class="icon" src="/bin/main/static/image/Icon (3).png" />
              </div>
              <div class="group-2">
                <label class="text-wrapper-3">석촌역 2번 출구쪽으로 이동하세요.</label>
                <label class="text-wrapper-4">2분전</label>
                <img class="icon" src="/bin/main/static/image/Icon (4).png" />
              </div>
              <div class="group-3">
                <label class="text-wrapper-5">석촌역 2번 출구쪽으로 이동하세요.</label>
                <label class="text-wrapper-6">2분전</label>
                <img class="icon" src="/bin/main/static/image/Icon (4).png" />
              </div>
            </div>
          </div>
          <img class="img" src="/bin/main/static/image/상단 BG.png" />
          <div class="view-3">
            <div class="view-4">
              <div class="ellipse-4">
                <img src="/src/main/resources/static/image/Icon5.png"/>
              </div>
              <label class="text-wrapper-7">주문완료</label>
            </div>
            <div class="view-5">
              <div class="ellipse-4">
                <img src="/src/main/resources/static/image/시계.png" alt="시계" class="clock">
                <img src="/src/main/resources/static/image/시계바늘.png" alt="시계 바늘" class="clock-hand">
              </div>
              <label class="text-wrapper-7">조리중</label>
            </div>
            <div class="div-2">
              <div class="ellipse-4">
                <img src="/src/main/resources/static/image/Icon (5).png"/>
              </div>
              <label class="text-wrapper-8">픽업중</label>
            </div>
            <div class="div-3">
              <div class="ellipse-4">
                <img src="/src/main/resources/static/image/Icon (6).png"/>
              </div>
              <label class="text-wrapper-7">픽업완료</label>
            </div>
            <img class="line-2" src="/bin/main/static/image/Line 4.png" />
            <img class="line-3" src="/bin/main/static/image/Line 4.png" />
            <img class="line-4" src="/bin/main/static/image/Line 4.png" />
          </div>
          <label class="text-wrapper-9">샐러디 석촌호수점</label>
          <div class="view-6">
            <div class="group-4">
              <img src="/src/main/resources/static/image/Group 60.png"/>
            </div>
            <label class="text-wrapper-10">칠리베이컨 웜볼</label>
            <label class="text-wrapper-11">8,600원</label>
          </div>
          <div class="group-wrapper">
            <div class="group-5">
              <div class="group-6">
                <label class="text-wrapper-12">05:00</label>
                <label class="text-wrapper-13">남은시간</label>
              </div>
              <div class="group-7">
                <label class="text-wrapper-14">0.33</label>
                <label class="text-wrapper-15">거리(Km)</label>
              </div>
              <div class="group-8">
                <label class="text-wrapper-16">10:00</label>
                <label class="text-wrapper-17">걸은시간</label>
              </div>
              <img class="line-5" src="/bin/main/static/image/Line 5.png" />
              <img class="line-6" src="/bin/main/static/image/Line 5.png" />
            </div>
          </div>
          <img class="image-2" src="/bin/main/static/image/backbutton.png" />
          <div class="absolute-wrapper">
            <div class="absolute">
              <div class="status-bar">
                <div class="content">
                  <div class="status-bar-time"><label class="value" id="시간임"></label></div>
                  <div class="status-bar-status">
                    <div class="content-2">
                      <div class="celluar"><img class="cellular-connection" src="/bin/main/static/image/Cellular Connection.png" /></div>
                      <div class="wi-fi"><img class="wi-fi-2" src="/bin/main/static/image/Wi-Fi.png" /></div>
                      <div class="battery">
                        <div class="battery-2">
                          <img class="cap" src="/bin/main/static/image/Battery.png" />
                          <div class="capacity-wrapper"><div class="capacity"></div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/src/main/resources/static/js/CheckOrder.js">
      
    </script>
    <script src="/src/main/resources/static/js/Clock.js"></script>
  </body>
</html>