<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/CheckOrder.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="image" src="/bin/main/static/image/지도.png" />
          <div class="BG">
            <div class="overlap-group">
              <img class="line" src="/bin/main/static/image/Line 1.png" />
              <div class="div">
                <div class="ellipse"></div>
                <div class="ellipse-2"></div>
                <div class="ellipse-3"></div>
              </div>
            </div>
          </div>
          <div class="view">
            <div class="view-2">
              <div class="group">
                <div class="text-wrapper">지금</div>
                <div class="text-wrapper-2">석촌호수 방향으로 계속 직진하세요.</div>
                <img class="icon" src="/bin/main/static/image/Icon (3).png" />
              </div>
              <div class="group-2">
                <div class="text-wrapper-3">석촌역 2번 출구쪽으로 이동하세요.</div>
                <div class="text-wrapper-4">2분전</div>
                <img class="icon" src="/bin/main/static/image/Icon (4).png" />
              </div>
              <div class="group-3">
                <div class="text-wrapper-5">석촌역 2번 출구쪽으로 이동하세요.</div>
                <div class="text-wrapper-6">2분전</div>
                <img class="icon" src="/bin/main/static/image/Icon (4).png" />
              </div>
            </div>
          </div>
          <img class="img" src="/bin/main/static/image/상단 BG.png" />
          <div class="view-3">
            <div class="view-4">
              <div class="ellipse-4"></div>
              <div class="text-wrapper-7">주문완료</div>
            </div>
            <div class="view-5">
              <div class="ellipse-5"></div>
              <div class="text-wrapper-7">조리중</div>
            </div>
            <div class="div-2">
              <div class="ellipse-6"></div>
              <div class="text-wrapper-8">픽업중</div>
            </div>
            <div class="div-3">
              <div class="ellipse-4"></div>
              <div class="text-wrapper-7">픽업완료</div>
            </div>
            <img class="line-2" src="/bin/main/static/image/Line 4.png" />
            <img class="line-3" src="/bin/main/static/image/Line 4.png" />
            <img class="line-4" src="/bin/main/static/image/Line 4.png" />
          </div>
          <div class="text-wrapper-9">식당 이름</div>
          <div class="view-6">
            <div class="group-4"></div>
            <div class="text-wrapper-10">음식 이름</div>
            <div class="text-wrapper-11">00000원</div>
          </div>
          <div class="group-wrapper">
            <div class="group-5">
              <div class="group-6">
                <div class="text-wrapper-12">05:00</div>
                <div class="text-wrapper-13">남은시간</div>
              </div>
              <div class="group-7">
                <div class="text-wrapper-14">0.33</div>
                <div class="text-wrapper-15">거리(Km)</div>
              </div>
              <div class="group-8">
                <div class="text-wrapper-16">10:00</div>
                <div class="text-wrapper-17">걸은시간</div>
              </div>
              <img class="line-5" src="/bin/main/static/image/Line 5.png" />
              <img class="line-6" src="/bin/main/static/image/Line 5.png" />
            </div>
          </div>
          <img class="image-2" src="/bin/main/static/image/backbutton.png" />
          <div class="absolute-wrapper">
            <div class="absolute">
              <div class="status-bar">
                <div class="content">
                  <div class="status-bar-time"><div class="value">9:41</div></div>
                  <div class="status-bar-status">
                    <div class="content-2">
                      <div class="celluar"><img class="cellular-connection" src="/bin/main/static/image/Cellular Connection.png" /></div>
                      <div class="wi-fi"><img class="wi-fi-2" src="/bin/main/static/image/Wi-Fi.png" /></div>
                      <div class="battery">
                        <div class="battery-2">
                          <img class="cap" src="/bin/main/static/image/Battery.png" />
                          <div class="capacity-wrapper"><div class="capacity"></div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>