<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/FoodList.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
    
        <div class="text-wrapper">샐러디 석촌호수점</div>
        <div class="view">
          <img class="rectangle" src="/src/main/resources/static/image/Rectangle 1 (1).png" />
          <img class="img" src="/src/main/resources/static/image/Rectangle 1 (3).png" />
          <img class="rectangle-2" src="/src/main/resources/static/image/Rectangle 1 (2).png" />
        </div>
        <img class="image" src="/src/main/resources/static/image/backbutton.png" />
        <div class="absolute-wrapper">
          <div class="absolute">
            <div class="status-bar">
              <div class="content">
                <div class="status-bar-time"><div class="value">9:41</div></div>
                <div class="status-bar-status">
                  <div class="content-2">
                    <div class="celluar"><img class="cellular-connection" src="/src/main/resources/static/image/Cellular Connection.png" /></div>
                    <div class="wi-fi"><img class="wi-fi-2" src="/src/main/resources/static/image/Wi-Fi.png" /></div>
                    <div class="battery">
                      <div class="battery-2">
                        <img class="cap" src="/src/main/resources/static/image/Battery.png" />
                        <div class="overlap-group"><div class="capacity"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="view-2">
          <img class="vector" src="/src/main/resources/static/image/Vector.png" />
          <div class="text-wrapper-2">10분 소요</div>
        </div>
        <div class="view-3">
          <img class="vector-2" src="/src/main/resources/static/image/Vector-2.png" />
          <div class="text-wrapper-3">90Kal 소모</div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-group-2">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <img class="image-2" src="/src/main/resources/static/image/배너.png" />
                <img class="image-3" src="/src/main/resources/static/image/배너띠.png" />
                <div class="rectangle-wrapper"><img class="rectangle-3" src="/src/main/resources/static/image/Rectangle 23 (3).png" /></div>
                <div class="div-wrapper"><div class="text-wrapper-4">칠리베이컨 웜볼</div></div>
                <div class="view-4"><div class="text-wrapper-5">8,600원</div></div>
                <div class="vector-wrapper"><img class="vector-3" src="/src/main/resources/static/image/Vector (1).png" /></div>
              </div>
            </div>
            <div class="group-2">
              <div class="overlap"><div class="text-wrapper-6">480Kal</div></div>
            </div>
          </div>
        </div>
        <div class="group-3">
          <div class="overlap-group-2">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <img class="image-2" src="/src/main/resources/static/image/배너.png" />
                <img class="image-3" src="/src/main/resources/static/image/배너띠.png" />
                <div class="rectangle-wrapper"><img class="rectangle-3" src="/src/main/resources/static/image/Rectangle 23 (1).png"" /></div>
                <div class="view-5"><div class="text-wrapper-4">우삼겹 웜볼</div></div>
                <div class="view-6"><div class="text-wrapper-5">9,000원</div></div>
                <div class="vector-wrapper"><img class="vector-3" src="/src/main/resources/static/image/Vector (1).png" /></div>
              </div>
            </div>
            <div class="group-2">
              <div class="overlap"><div class="text-wrapper-6">428Kal</div></div>
            </div>
          </div>
        </div>
        <div class="group-4">
          <div class="overlap-group-2">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <img class="image-2" src="/src/main/resources/static/image/배너.png" />
                <img class="image-3" src="/src/main/resources/static/image/배너띠.png" />
                <div class="rectangle-wrapper"><img class="rectangle-3" src="/src/main/resources/static/image/Rectangle 23 (2).png"" /></div>
                <div class="view-7"><div class="text-wrapper-4">비빔메밀면 샐러드</div></div>
                <div class="view-4"><div class="text-wrapper-5">9,500원</div></div>
                <div class="vector-wrapper"><img class="vector-3" src="/src/main/resources/static/image/Vector (1).png" /></div>
              </div>
            </div>
            <div class="group-2">
              <div class="overlap"><div class="text-wrapper-6">308Kal</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='/src/main/resources/static/js/FoodList.js'>

    </script>
  </body>
</html>