<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/FoodList.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <img class="group" src="img/group-14.png" />
        <div class="text-wrapper">가게명</div>
        <div class="overlap-group-wrapper">
          <div class="overlap-group">
            <img class="image" src="img/image-5.svg" />
            <img class="img" src="img/image-3.svg" />
            <div class="view"></div>
            <div class="div-wrapper"><div class="text-wrapper-2">음식 이름</div></div>
            <div class="view-2"><div class="text-wrapper-3">00000원</div></div>
            <div class="view-3"><div class="text-wrapper-4">000Kal</div></div>
            <div class="vector-wrapper"><img class="vector" src="img/vector-5.svg" /></div>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-group">
            <img class="image" src="img/image-2.svg" />
            <img class="img" src="img/image.svg" />
            <div class="view"></div>
            <div class="div-wrapper"><div class="text-wrapper-2">음식 이름</div></div>
            <div class="view-2"><div class="text-wrapper-3">00000원</div></div>
            <div class="view-3"><div class="text-wrapper-4">000Kal</div></div>
            <div class="vector-wrapper"><img class="vector" src="img/vector-3.svg" /></div>
          </div>
        </div>
        <div class="group-2">
          <div class="overlap-group">
            <img class="image" src="img/image-6.svg" />
            <img class="img" src="img/image-4.svg" />
            <div class="view"></div>
            <div class="div-wrapper"><div class="text-wrapper-2">음식 이름</div></div>
            <div class="view-2"><div class="text-wrapper-3">00000원</div></div>
            <div class="view-3"><div class="text-wrapper-4">000Kal</div></div>
            <div class="vector-wrapper"><img class="vector" src="img/vector-2.svg" /></div>
          </div>
        </div>
        <div class="view-4">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
        </div>
        <img class="image-2" src="img/image.png" />
        <div class="absolute-wrapper">
          <div class="absolute">
            <div class="status-bar">
              <div class="content">
                <div class="status-bar-time"><div class="value">9:41</div></div>
                <div class="status-bar-status">
                  <div class="content-2">
                    <div class="celluar"><img class="cellular-connection" src="img/cellular-connection.svg" /></div>
                    <div class="wi-fi"><img class="wi-fi-2" src="img/wi-fi.svg" /></div>
                    <div class="battery">
                      <div class="battery-2">
                        <img class="cap" src="img/cap.svg" />
                        <div class="capacity-wrapper"><div class="capacity"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="view-5">
          <img class="vector-2" src="img/vector.svg" />
          <div class="text-wrapper-5">20분 소요</div>
        </div>
        <div class="view-6">
          <img class="vector-3" src="img/vector-4.svg" />
          <div class="text-wrapper-6">90Kal 소모</div>
        </div>
      </div>
    </div>
  </body>
</html>