<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/Login.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="view">
          <div class="absolute">
            <div class="status-bar">
              <div class="content">
                <div class="status-bar-time"><label class="value" id="시간임"></label></div>
                <div class="status-bar-status">
                  <div class="content-2">
                    <div class="celluar"><img class="cellular-connection" src="/src/main/resources/static/image/Cellular Connection.png" /></div>
                    <div class="wi-fi"><img class="wi-fi-2" src="/src/main/resources/static/image/Wi-Fi.png" /></div>
                    <div class="battery">
                      <div class="battery-2">
                        <img class="cap" src="/src/main/resources/static/image/Battery.png" />
                        <div class="overlap-group"><div class="capacity"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group">
          <div class="overlap">
            <div class="overlap">
              <img class="image" src="/src/main/resources/static/image/image 1 (2).png" />
              <div class="overlap-group-wrapper">

<form id="loginForm">
                <input type="text" id="id" name="id" class="div-wrapper" placeholder="아이디를 입력하세요"  required>
        </input>
              </div>
              <label class="text-wrapper-2">아이디</label>
            </div>
            <img class="group-2" src="/src/main/resources/static/image/Group 427320939.png" />
          </div>
          <div class="overlap-wrapper">
            <button type="submit" class="submit"><div class="text-wrapper-3">로그인</div></button>
          </div>
          <label class="text-wrapper-4">비밀번호</label>
          <label class="text-wrapper-5">계정이 기억 안나시나요?</label>
          <label class="text-wrapper-6">계정이 아직 없으신가요?</label>
          <div class="group-3">
            <input type="password" id="password" name="password" class="div-wrapper" placeholder="비밀번호를 입력하세요" required >   
            <img src="/src/main/resources/static/image/vector (3).png" class="eye">  
        </input>
    </form>

          </div>
          <img class="line" src="/src/main/resources/static/image/Line 23.png" />
          <div class="group-4">
            <div class="text-wrapper-7">아이디/비밀번호 찾기</div>
            <img class="vector" src="/src/main/resources/static/image/vector (2).png" />
          </div>
          <div class="group-5">
            <div class="text-wrapper-7">새로운 계정 만들기</div>
            <img class="vector2" src="/src/main/resources/static/image/vector (2).png" />
          </div>
        </div>
      </div>
    </div>
    <script src="/src/main/resources/static/js/Login.js"></script><script src="/src/main/resources/static/js/Clock.js"></script>
  </body>
</html>