<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/Login.css" />
  </head>
  <body>
    <div class="frame">
      <div class="div">
        <div class="group">


            <form id="loginForm">
          <input type="text" id="id" name="id" class="overlap-group" placeholder="아이디를 입력하세요"  required>
        </input>
</div>
        <label class="text-wrapper-2">아이디</label>
        <div class="overlap-wrapper">
            <button id="loginbtn" type="submit" class="submit"><div class="text-wrapper-3">로그인</div></div></button>
        <label class="text-wrapper-4">비밀번호</label>
        <div class="text-wrapper-5">계정을 잃어 버렸나요?</div>
        <div class="group-2">
          <div class="text-wrapper-6">다른 방법으로 시작하기</div>
          <img class="vector" src="/image/Group 427320440.png" />
        </div>
        <img class="img" src="/image/Group 427320598kakao.png" />
        <img class="group-3" src="/image/Group 427321100google.png" />
        <img class="group-4" src="/image/Group 427320601naver.png" />
        <div class="overlap-group-wrapper">
            <input type="password" id="password" name="password" class="overlap-group" placeholder="비밀번호를 입력하세요" required >        
        </input>
    </form>

        </div>
        <img class="i-maps-near-me" src="/image/near-me.png" />
        <label class="text-wrapper-8">12:20</label>
        <div class="group-5">
          <img class="vector-3" src="/image/Vector (2).png" />
          <img class="i-device-signal" src="/image/signal-cellular-alt.png" />
          <div class="battery">
            <div class="capacity-wrapper"><div class="capacity"></div></div>
            <img class="cap" src="/image/Capacity.png" />
          </div>
        </div>
        <img class="image" src="/image/로고 (2).png" />
      </div>
    </div>
    <script src="/js/Login.js"></script>
  </body>
</html>