<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/main.css" />
    
  </head>
  <body>
    
    <div class="screen">
      <div class="div">
        
        <div class="overlap">
          
            <div class="view">
            <div class="overlap-group">
              <img class="icon" src="/src/main/resources/static/image\Icon (1).png" />
              <img class="img" src="/src/main/resources/static/image\Icon (2).png" />
              <img class="line" src="/src/main/resources/static/image\Line 3.png" />
            </div>
          </div>
          <img class="image" src="/src/main/resources/static/image\Rectangle17.png" />
        </div>
       
        <div class="view-2">
          <label class="text-wrapper">서울특별시 송파구 석촌동</label>
          <img class="icon-2" src="/src/main/resources/static/image\Icon.png" />
        </div>
        
        <div class="overlap-group-wrapper">
            <input class="text-input" type="text" placeholder="검색어를 입력하세요" />
       </div>
        
        <div class="div-wrapper">
          <label class="text-wrapper-2">오늘의 <br />영리는 무엇인가요?</label>
        </div>
        
        <div class="view-3">
          <div class="overlap-2"><div class="text-wrapper-3" > 
            확인하기</div></div>
          <label class="text-wrapper-4">진행 중인 주문내역이 있어요</label>
        </div>
        <img class="image-2" src="/src/main/resources/static/image\로고.png" />
      </div>
    </div>
    <script src="/src/main/resources/static/js/main.js">
    
    </script>
  </body>
</html>