<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/Management.css" />
  </head>
  <body>
    <div class="screen">
        
      <div class="div">
        <div class="view">
            
          <div class="absolute">
            <div class="status-bar">
              <div class="content">
                <div class="status-bar-time"><label class="value">9:41</label></div>
                <div class="status-bar-status">
                  <div class="content-2">
                    <div class="celluar"><img class="cellular-connection" src="/src/main/resources/static/image\Cellular Connection.png" /></div>
                    <div class="wi-fi"><img class="img" src="/src/main/resources/static/image\Wi-Fi.png" /></div>
                    <div class="battery">
                      <div class="battery-2">
                        <img class="cap" src="/src/main/resources/static/image\Battery.png" />
                        <div class="overlap-group"><div class="capacity"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <label class="text-wrapper">관리 리포트</label>
        <label class="text-wrapper-2">최근 7일간 영리 리스트예요</label>
        <div class="group">
          <div class="element">
            <div class="div-wrapper"><label class="text-wrapper-3">오늘의 영리 불러오기</label></div>
          </div>
        </div>
        <div class="group-2">
          <div class="view-2">
            <div class="group-3">
              <img src="/src/main/resources/static/image/Rectangle 23.png"/>
            </div>
            <label class="text-wrapper-4">칠리베이컨 웜볼</label>
            <label class="text-wrapper-5">샐러디 석촌호수점</label>
          </div>
          <div class="view-3">
            <img class="vector" src="/src/main/resources/static/image/Vector.png" />
            <label class="text-wrapper-6">오늘</label>
          </div>
          <div class="view-4">
            <img class="vector-2" src="/src/main/resources/static/image/Vector-2.png" />
            <label class="text-wrapper-7">60Kal 소모</label>
          </div>
        </div>
        <div class="group-4">
          <div class="view-2">
            <div class="group-3">
              <img src="/src/main/resources/static/image/Group 60 (1).png"/>
            </div>
            <label class="text-wrapper-4">까르보나라</label>
            <label class="text-wrapper-5">롤링파스타 석촌호수점</label>
          </div>
          <div class="view-3">
            <img class="vector" src="/src/main/resources/static/image/Vector.png" />
            <label class="text-wrapper-6">3일전</label>
          </div>
          <div class="view-4">
            <img class="vector-2" src="/src/main/resources/static/image/Vector-2.png" />
            <label class="text-wrapper-7">90Kal 소모</label>
          </div>
        </div>
        <div class="overlap">
          <p class="p">
            <label class="span">섭취 영양성분 중<br /></label> <label class="text-wrapper-8">단백질의 비중이 높아요</label>
          </p>
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="overlap-group-wrapper">
                <div class="overlap-3">          
                </div>
              </div>             
            </div>
          </div>
        </div>
        <div class="group-8">
          <div class="overlap-6">
            <p class="div-2">
              <label class="text-wrapper-14">지금까지 관리를<br /></label>
              <label class="text-wrapper-15">아주 잘하고 계세요!</label>
            </p>
            <div class="overlap-7">
              <label class="text-wrapper-16">78점</label>
              <div class="group-9">
                <div class="overlap-group-3">
                  <img class="group-10" src="/src/main/resources/static/image/group-10.png" />
                  <div class="ellipse-wrapper"><div class="ellipse-3"></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="view-5">
          <div class="overlap-8"><div class="text-wrapper-17">확인하기</div></div>
          <p class="text-wrapper-18">알맞는 메뉴를 추천 받고 싶다면?</p>
        </div>
        
        <img class="image" src="/src/main/resources/static/image/image.png" />
        <div class="button left-button"></div>
        <div class="button right-button"></div>
        
      </div>

    </div>
    <script src="/src/main/resources/static/js/Management.js">
    
    </script>
  </body>
</html>