<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/open.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <img class="image" src="/src/main/resources/static/image/로고 (3).png" />
        <img class="img" src="/src/main/resources/static/image/image 1 (1).png" />
        <div class="view">
          <div class="absolute">
            <div class="status-bar">
              <div class="content">
                <div class="status-bar-time"><label class="value">9:41</label></div>
                <div class="status-bar-status">
                  <div class="content-2">
                    <div class="celluar"><img class="cellular-connection" src="/src/main/resources/static/image/Cellular Connection.png" /></div>
                    <div class="wi-fi"><img class="wi-fi-2" src="/src/main/resources/static/image/Wi-Fi.png" /></div>
                    <div class="battery">
                      <div class="battery-2">
                        <img class="cap" src="/src/main/resources/static/image/Battery.png" />
                        <div class="overlap-group"><div class="capacity"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/src/main/resources/static/js/open.js"></script>
  </body>
</html>