<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/open2.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <img class="frame" src="/src/main/resources/static/image/Frame 80 1onboarding1.png" />
          <img class="group" src="/src/main/resources/static/image/Group 427321127nextpage.png" />
        </div>
        <p class="p">
          <label class="text-wrapper">나의 위치 기반 픽업하는 동안의<br /></label>
          <label class="span">시간과 칼로리</label>
          <label class="text-wrapper">를 바로 확인하세요</label>
        </p>
        <div class="group-2">
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
          <div class="ellipse-3"></div>
        </div>
        <div class="view">
          <div class="absolute">
            <div class="status-bar">
              <div class="content">
                <div class="status-bar-time"><label class="value"id="시간임"></label></div>
                <div class="status-bar-status">
                  <div class="content-2">
                    <div class="celluar"><img class="cellular-connection" src="/src/main/resources/static/image/Cellular Connection.png" /></div>
                    <div class="wi-fi"><img class="img" src="/src/main/resources/static/image/Wi-Fi.png" /></div>
                    <div class="battery">
                      <div class="battery-2">
                        <img class="cap" src="/src/main/resources/static/image/Battery.png" />
                        <div class="overlap-group"><div class="capacity"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/src/main/resources/static/js/open2.js"></script><script src="/src/main/resources/static/js/Clock.js"></script>
  </body>
</html>