<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/open4.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <img class="frame" src="img/frame-80-1.png" />
          <img class="group" src="img/group-427321127.png" />
          <div class="group-2">
            <div class="text-wrapper">바로 시작하기</div>
            <img class="image" src="img/image.png" />
          </div>
        </div>
        <p class="p">관리 리포트를 통해<br />식단 관리도 함께하세요</p>
        <div class="group-3">
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
          <div class="ellipse-3"></div>
        </div>
        <div class="view">
          <div class="absolute">
            <div class="status-bar">
              <div class="content">
                <div class="status-bar-time"><div class="value">9:41</div></div>
                <div class="status-bar-status">
                  <div class="content-2">
                    <div class="celluar"><img class="cellular-connection" src="img/cellular-connection.svg" /></div>
                    <div class="wi-fi"><img class="img" src="img/wi-fi.svg" /></div>
                    <div class="battery">
                      <div class="battery-2">
                        <img class="cap" src="img/cap.svg" />
                        <div class="overlap-group"><div class="capacity"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>