<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/open4.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <img class="frame" src="/src/main/resources/static/image/Frame 80 1onboarding1 (2).png" />
          <form class="next">
          <img class="group" src="/src/main/resources/static/image/Group 427321127nextpage (1).png" />
          <div class="group-2">
            <label class="text-wrapper">바로 시작하기</label>
            <img class="image" src="/src/main/resources/static/image/로고 (4).png" />
          </div></form>
        </div>
        <label class="p">관리 리포트를 통해<br />식단 관리도 함께하세요</label>
        <div class="group-3">
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
          <div class="ellipse-3"></div>
        </div>
        <div class="view">
          <div class="absolute">
            <div class="status-bar">
              <div class="content">
                <div class="status-bar-time"><label class="value"id="시간임"></label></div>
                <div class="status-bar-status">
                  <div class="content-2">
                    <div class="celluar"><img class="cellular-connection" src="/src/main/resources/static/image/Cellular Connection.png" /></div>
                    <div class="wi-fi"><img class="img" src="/src/main/resources/static/image/Wi-Fi.png" /></div>
                    <div class="battery">
                      <div class="battery-2">
                        <img class="cap" src="/src/main/resources/static/image/Battery.png" />
                        <div class="overlap-group"><div class="capacity"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/src/main/resources/static/js/open4.js"></script><script src="/src/main/resources/static/js/Clock.js"></script>
  </body>
</html>