<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/StoreList.css" />
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="view">
            <div class="overlap-group">
              <img class="element" src="img/2024-07-25-2-27-28-1.png" />
              <div class="group">
                <div class="div">
                  <img class="vector" src="img/vector-11.svg" />
                  <div class="ellipse"></div>
                  <div class="ellipse-2"></div>
                  <div class="ellipse-3"></div>
                  <div class="ellipse-4"></div>
                </div>
              </div>
            </div>
          </div>
          <img class="BG" src="img/BG.png" />
          <div class="element-2">
            <div class="view-2"></div>
            <div class="div-wrapper"><div class="text-wrapper">가게명</div></div>
            <div class="view-3">
              <img class="img" src="img/vector-4.svg" />
              <div class="text-wrapper-2">20분 소요</div>
            </div>
            <div class="view-4">
              <img class="vector-2" src="img/vector-3.svg" />
              <div class="text-wrapper-3">90Kal 소모</div>
            </div>
          </div>
          <div class="element-3">
            <div class="view-2"></div>
            <div class="div-wrapper"><div class="text-wrapper">가게명</div></div>
            <div class="view-3">
              <img class="img" src="img/vector.svg" />
              <div class="text-wrapper-2">20분 소요</div>
            </div>
            <div class="view-4">
              <img class="vector-2" src="img/vector-2.svg" />
              <div class="text-wrapper-3">90Kal 소모</div>
            </div>
          </div>
          <div class="element-4">
            <img class="image" src="img/image-3.png" />
            <div class="view-5"><div class="text-wrapper-4">샐러디 석촌호수점</div></div>
            <div class="view-6">
              <img class="img" src="img/image.svg" />
              <div class="text-wrapper-5">10분 소요</div>
            </div>
            <div class="view-4">
              <img class="vector-2" src="img/vector-5.svg" />
              <div class="text-wrapper-3">90Kal 소모</div>
            </div>
          </div>
          <img class="BG-2" src="img/BG-2.png" />
          <div class="view-7">
            <div class="text-wrapper-6">3곳이 검색 되었습니다.</div>
            <div class="text-wrapper-7">샐러드</div>
          </div>
          <div class="image-wrapper"><img class="image-2" src="img/image-2.png" /></div>
          <img class="image-3" src="img/image.png" />
          <div class="absolute-wrapper">
            <div class="absolute">
              <div class="status-bar">
                <div class="content">
                  <div class="status-bar-time"><div class="value">9:41</div></div>
                  <div class="status-bar-status">
                    <div class="content-2">
                      <div class="celluar"><img class="cellular-connection" src="img/cellular-connection.svg" /></div>
                      <div class="wi-fi"><img class="wi-fi-2" src="img/wi-fi.svg" /></div>
                      <div class="battery">
                        <div class="battery-2">
                          <img class="cap" src="img/cap.svg" />
                          <div class="capacity-wrapper"><div class="capacity"></div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>