<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/StoreList.css" />
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="view">
            <div class="overlap-group">
              <img class="element" src="/src/main/resources/static/image/지도 (1).png" />
              <div class="group">
                <div class="div">
                  
                  <div class="ellipse"></div>
                  <div class="ellipse-2"></div>
                  <div class="ellipse-3"></div>
                  <div class="ellipse-4"></div>
                </div>
              </div>
            </div>
          </div>
          <img class="BG" src="/src/main/resources/static/image/하단 BG.png" />
          <div class="element-2">
            <img class="image" src="/src/main/resources/static/image/가게 이미지.png"" />
            <div class="div-wrapper"><div class="text-wrapper">샐러디치 오도씨 송파본점</div></div>
            <div class="view-2">
              <img class="img" src="/src/main/resources/static/image/Vector.png" />
              <div class="text-wrapper-2">20분 소요</div>
            </div>
            <div class="view-3">
              <img class="vector-2" src="/src/main/resources/static/image/Vector-2.png" />
              <div class="text-wrapper-3">120Kal 소모</div>
            </div>
          </div>
          <div class="element-3">
            <img class="image-2" src="/src/main/resources/static/image/가게 이미지 (1).png" />
            <div class="view-4"><div class="text-wrapper">써브웨이 석촌점</div></div>
            <div class="view-2">
              <img class="img" src="/src/main/resources/static/image/Vector.png" />
              <div class="text-wrapper-2">25분 소요</div>
            </div>
            <div class="view-3">
              <img class="vector-2" src="/src/main/resources/static/image/Vector-2.png" />
              <div class="text-wrapper-3">135Kal 소모</div>
            </div>
          </div>
          <div class="element-4">
            <img class="image-3" src="/src/main/resources/static/image/Rectangle 23.png" />
            <div class="view-5"><div class="text-wrapper">샐러디 석촌호수점</div></div>
            <div class="view-6">
              <img class="img" src="/src/main/resources/static/image/Vector.png" />
              <div class="text-wrapper-4">10분 소요</div>
            </div>
            <div class="view-7">
              <img class="vector-2" src="/src/main/resources/static/image/Vector-2.png" />
              <div class="text-wrapper-3">90Kal 소모</div>
            </div>
          </div>
          <img class="BG-2" src="/src/main/resources/static/image/상단 BG (1).png" />
          <div class="view-8">
            <label class="text-wrapper-5">3곳이 검색 되었습니다.</label>
            <label class="text-wrapper-6">샐러드</label>
          </div>
          <div class="image-wrapper"><img class="image-4" src="/src/main/resources/static/image/샐러드 이미지.png" /></div>
          <img class="image-5" src="/src/main/resources/static/image/backbutton.png" />
          <div class="absolute-wrapper">
            <div class="absolute">
              <div class="status-bar">
                <div class="content">
                  <div class="status-bar-time"><label class="value" id="시간임"></label></div>
                  <div class="status-bar-status">
                    <div class="content-2">
                      <div class="celluar"><img class="cellular-connection" src="/src/main/resources/static/image\Cellular Connection.png" /></div>
                      <div class="wi-fi"><img class="wi-fi-2" src="/src/main/resources/static/image/Wi-Fi.png" /></div>
                      <div class="battery">
                        <div class="battery-2">
                          <img class="cap" src="/src/main/resources/static/image/Battery.png" />
                          <div class="capacity-wrapper"><div class="capacity"></div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/src/main/resources/static/js/StoreList.js">

    </script><script src="/src/main/resources/static/js/Clock.js"></script>
  </body>
</html>