<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/결제마무리.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/styleguide.css" />
  </head>
  <body>
    <div class="iphone-pro">
      <div class="div">
        <div class="group">
          <div class="absolute">
            <div class="status-bar">
              <div class="content">
                <div class="status-bar-time"><label class="value"id="시간임"></label></div>
                <div class="status-bar-status">
                  <div class="content-2">
                    <div class="celluar"><img class="cellular-connection" src="/src/main/resources/static/image/Cellular Connection.png" /></div>
                    <div class="wi-fi"><img class="img" src="/src/main/resources/static/image/Wi-Fi.png" /></div>
                    <div class="battery">
                      <div class="battery-2">
                        <img class="cap" src="/src/main/resources/static/image/Battery.png" />
                        <div class="overlap-group"><div class="capacity"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="group-2" src="/src/main/resources/static/image/Group 48.png" />
        <p class="p"><span class="text-wrapper">주문이 </span> <span class="span">완료 되었습니다</span></p>
        <div class="overlap">
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="element">
                <img class="image" src="/src/main/resources/static/image/가게 이미지 (2).png" />
                <div class="view"><div class="text-wrapper-2">샐러디 석촌호수점</div></div>
                <div class="view-2">
                  <img class="vector" src="/src/main/resources/static/image/Vector.png" />
                  <div class="text-wrapper-3">10분 소요</div>
                </div>
                <div class="view-3">
                  <img class="vector-2" src="/src/main/resources/static/image/Vector-2.png" />
                  <div class="text-wrapper-4">90Kal 소모</div>
                </div>
              </div>
              <div class="view-4">
                <div class="group-3"  >
                    <img src="/src/main/resources/static/image/Rectangle 23 (4).png">
                </div>
                <div class="text-wrapper-5">칠리베이컨 웜볼</div>
                <div class="text-wrapper-6">8,600원</div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="div-wrapper"><div class="text-wrapper-7">480Kal</div></div>
              </div>
            </div>
          </div>
          <img class="group-4"  src="/src/main/resources/static/image/Group 427321364.png" />
        </div>
        <img class="group-5" id="주문현황"  src="/src/main/resources/static/image/Rectangle 990.png"/>
        <label class="주문" id="주문현황">주문현황 확인하기</label>
        <img class="화살표" id="주문현황" src="/src/main/resources/static/image/Group 427321120.png"/>
      </div>
    </div>
    <script src="/src/main/resources/static/js/Clock.js"></script>
  </body>
</html>